@tailwind base;
@tailwind components;
@tailwind utilities;

.section-100 {
  height: 100vh;
}

.div-end {
  display: flex;
  justify-content: flex-end;
}

.about-section-1 {
  padding-left: 200px;
  padding-right: 30px;
}
